:root {
    --main-color: black;
    --accent-color: rgb(27, 120, 201);
    --highlight-color: red;
}

.logo {
    color: var(--highlight-color);
    border: 10px solid var(--accent-color);
}
.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu a {
    border: 10px solid var(--accent-color);
    color: var(--main-color:);
    display: block;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;

}

main div.products {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
@media (min-width: 800px) {
    main div.products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}